<!DOCTYPE html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
<script href="/static/script.js"></script> 
<script>
    function swapContent(page) {
        
        jQuery( "#myDiv" ).load(page);
    }
</script>
</head>
<body>
<div class="todo-container">
<h2>To-Do App</h2>
<div class="todo">
<form action="/" method="POST" class="todo-header">
<input type="text" name="content">
<button type="submit"><span class="fas fa-plus"></span></button>
</form>
<label><input id="form-check-input" type="checkbox" onClick="swapContent('/index');" checked>&nbsp;Check me</label>

<div id="myDiv"></div>


<ul class="todo-list">
<p>Remaining Tasks : <%= total %></p>


        <% tasks.forEach(function(task) { %>
           <li class="todo-list-item" <% if(task.value.complete=='true') 
        { %> style="text-decoration: line-through;"
        <% } %>> <%= task.value.task %>
        <form action="/update/<%= task.key %>" method="POST" class="todo-header">
            <input type="hidden" value="<%= task.value.rev %>" name="rev">
            <input type="hidden" value="<%= task.value.task %>" name="task">
            <button type="submit" id="myButton"><span class="far fa-check-square"></span></button>
          
        </form> 
        <form action="/delete/<%= task.key %>" method="POST" class="todo-header">
            <input type="hidden" value="<%= task.value.rev %>" name="rev">
            <button type="submit" ><span class="far fa-window-close"></span></button>
            </form>
           
            

           
    


               
</li> <% }); %>   


</ul>
</div>
</div>


</body>

